.body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 0 50px;
  width: 100%;
}

@media (min-width: 1441px) {
  .body {
    margin: 0 auto;
  }
}
@media (max-width: 1440px) {
  .main {
    padding: 0 50px;
  }
}
@media (max-width: 1024px) {
}
@media (max-width: 767px) {
  .main {
    padding: 0;
  }
}