
.main {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 0 50px;
  width: 100%;
}

@media (max-width: 1440px) {
  .main {
    padding: 0 50px;
  }
}
@media (max-width: 1024px) {
}
@media (max-width: 767px) {
  .main {
    padding: 0;
  }
}