.cards__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cards__container--offers-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.cards__container--activites {
  flex-direction: row;
}

@media (max-width: 1024px) {
  .cards__container--offers-sponsored {
    flex-direction: row;
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .cards__container {
    flex-direction: column;
    gap: 15px;
  }
  .cards__container--offers-main {
    display: flex;
  }
}