/*row*/
.offers-section {
  display: flex;
  align-items: flex-start;/* peut etre enlever */
  align-self: stretch;/* ici aussi */
  gap: 40px;
}
.offers-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 20px;
  border-radius: 15px;
  background: var(--Grey, #f2f2f2);
}
.offers__container--main {
  flex: 1 0 0;
  align-self: stretch;
  align-items: stretch;
  /* min-width: fit-content; */
}
.offers__container--sponsored {
  max-width: 429px;
  align-self: stretch;
  flex: 0.5;
}
.offers-section__container--activites {
  gap: 30px;
  background-color: white;
}
.offers-title__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .offers-section {
    flex-direction: column;
    align-items: stretch;
  }
  .offers__container--sponsored {
    max-width: initial;
    width: 100%;
    align-self: stretch;
  }
}
@media (max-width: 767px) {
  .offers-section {
    gap: 15px;
  }
  .offers-section__container {
    padding: 20px;
    border-radius: 0;
  }
  .offers__container--sponsored {
    order: 1;
  }
  .offers__container--main {
    order: 2;
    background-color: white;
  }
}
