/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* color settings */
:root {
  --main-color: #0065fc;
  --filter-bg-color: #deebff;
  --main-bg-color: #f2f2f2;
  --other-color: #d9d9d9;
}

/* utility classes */
.no-link-style {
  color: inherit;
  text-decoration: none;
}
