/* style global icons */
.fa-solid {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color)
}
/* style icons section info */
/* search-bar */
.fa-location-dot {
  color: initial;
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 50px;
  height: 49px;

  border-radius: 15px 0 0 15px;
  border: 1px solid var(--main-bg-color);
  background-color: var(--main-bg-color);
}
.fa-search {
  font-size: 17px;
  color: #fff;
}
/*icon info */
.fa-info {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 11px;
  width: 24px;
  height: 24px;
  line-height: 24px;

  color: var(--main-color);
  border: 1px solid var(--other-color);
  border-radius: 50%;
}

/* icons star*/
.fa-star {
  color: var(--main-color);
}
.neutral-star {
  color: var(--main-bg-color);
}
