.card__container--activites {
  flex-direction: column;
  justify-content: flex-end;
}
.card__img--activites {
  height: 380px;
  border-radius: 20px 20px 0 0;
}
.card__content--activites {
  padding: 20px 19px;
}
@media (max-width: 1024px) {
  .card__img--activites {
    height: 200px;
  }
}
@media (max-width: 767px) {
  .card__img--activites {
    height: 141px;
  }
}