/******* font-family *******/
* {
  font-family: "Raleway";
}
/**** font style ******/
/* Title/Section ***/
/* fs-22-bold *****/
h1, .section__title, .info__title {
  font-size: 22px;
  font-weight: 700;
}
/* Title/Filter, Search-bar/Input */
/* fs-18-bold */
h2, .filter__title, .input__text, .search-form__btn--text {
  font-size: 18px;
  font-weight: 700;
}
/* btn/Filter */
/* fs-17-bold */
h3, .filterBtn__text {
  font-size: 17px;
  font-weight: 700;
}
/* Card/Title **/
/* fs-16-bold */
h4, .card__title {
  font-size: 16px;
  font-weight: 700;
}
/* Card/Text */
/* fs-14-regular */
.card__text {
  font-size: 14px;
  font-weight: 400;
}
/* icon € */
/*fs-14-semi-bold */
.icon__text {
  font-size: 14px;
  font-weight: 600;
}
/* Information */
/* fs-16-regular */
.info__text, .footer__link {
  font-size: 16px;
  font-weight: 400;
}
/* Nav/Standard */
/* fs-16-regular */
.fs-16-regular {
  font-size: 16px;
  font-weight: 400;
}
/* Title/Filter, Search-bar/Input */
/* fs-18-bold */
.input-text {
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .filterBtn__text {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .filterBtn__text {
    font-size: 14px;
  }
}